@import "structure/header.less";
@import "structure/dashboard.less";

body {
  padding: 0;
  min-width: 1024px;
}

h1 {
  font-size: 28px;
  font-family: "Palatino Linotype", "Book Antiqua", Palatino, serif;
}

#main-menu {
  max-width: 300px;
  float: left;
  border-right: 1px solid #ccc;
  margin-right: 50px;
  padding: 10px;

  li {
    min-width: 200px;
  }
}

#partial {
  margin-left: 260px;
  margin-right: 20px;
  margin-top: 20px;
  padding-top: 25px;

  h1 {
    margin-top: 5px;
    margin-bottom: 20px;
  }

  ol li {
    padding: 5px 10px;
  }
}

body.multiple {

  #emails {
    float: left;
  }
  #phones {
    margin-left: 500px;
  }

  dl.multi {
    input {
      width: 184px;
    }
    label {
      min-width: 0;
    }
    dt {
      float: left;
    }
    dd {
      padding: 0px 5px 10px 5px;
      padding-left: 30px;
      position: relative;
      .ug-validation-wrapper {
        position: absolute;
        top: 5px;
        .validation-tooltip {
          left: 55px;
        }
      }
      /*
      &:nth-child(2) {
        .ug-validation-wrapper {
          .validation-tooltip {
            left: -30px;
            top: -33px;
          }
        }
      }
      */
    }
  }

  .btn.add {
    padding: 3px 10px;
    font-size: 12px;
    margin-right: 5px;
    margin-left: 7px;
  }

  .btn.remove {
    padding: 0 16px;
    margin-left: 10px;
    font-size: 13px;
  }
}