*,
*:before,
*:after {
  -webkit-box-sizing: border-box;
     -moz-box-sizing: border-box;
          box-sizing: border-box;
}

.domdecorator-wrapper, .domharvester-wrapper {
  margin: 20px;
  padding: 20px;
  border: 1px solid orange;
}

.domdecorator-wrapper .info, .domharvester-wrapper .info {
  font-style: italic;
  font-size: 12px;
  margin: 0 0 10px 0;
}

.tests-section {
  margin-bottom: 20px;
}